{
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "./configurations/eslint/js.eslint.json",
    "./configurations/eslint/ts.eslint.json",
    "./configurations/eslint/react.eslint.json"
  ]
}
